body {
  background: White;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  color: Black;
  text-decoration: none;
}
.btn {
  background: rgba($color: Burlywood, $alpha: .5);
  color: White;
  padding: .6rem;
  border-radius: .5rem;
  border: none;
  &:hover {
    background: rgba($color: Burlywood, $alpha: .7);
  }
}

// all articles
.articles {
  width: 70vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5rem;
  margin: auto;

  .article {
    background: rgba($color: #f0ebf4, $alpha: .4);
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;

    h2 {
      font-size: 1.9rem;
    }

    h3 {
      font-size: 1.1rem;
    }

    p {
      font-family: "Source Serif Pro";
    }
  }
}

// header
article {
  background: linear-gradient(lavender, white);
  // background: rgba($color: #, $alpha: .3);
  width: 100vw;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}

// register/login
.hello {
  position: relative;
}

.navbar-nav {
  display: flex;
  flex-direction: row;

  .nav-item {
    margin: 0 .5rem;
  }
}

.navbar-collapse {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: .5rem 1rem;

  a {
    font-size: 1.2rem;
    color: DimGray;
  }
}

// login-page & logged in-page
.login {
  width: 900px;
  margin: auto;
  padding: 2rem;
  img {
    width: 100%;
  }
  h2 {
    font-size: 3rem;
  }
}

// ads
.start-container {
  width: 80vw;
  margin: auto;
  display: flex;

  .arts {
    flex: 2;
    margin-right: 3rem;
  }
  .ad-area {
    flex: 1;
    margin-top: 2.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

}

// admin-page
.admin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";

  p {
    font-family: "Source Serif Pro";
  }

  .articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .admin-show {
    background: rgba($color: #f0ebf4, $alpha: .4);
    max-width: 50%;
    padding: 2rem;
    border-radius: .5rem;

    h2 {
      font-size: 2.8rem;
      margin: .5rem 0;
    }
    h3 {
      margin: 0;
    }
  }

  .admin-edit {
    background: rgba($color: #f0ebf4, $alpha: .4);
    max-width: 500px;
    padding: 2rem;
    border-radius: .5rem;
    font-family: "Source Serif Pro";

    label {
      font-size: 1.3rem;
      font-family: "Source Sans Pro";
      margin-bottom: .2rem;
    }
    input {
      width: 97%;
      height: 20px;
      margin-bottom: .6rem;
      font-family: "Source Sans Pro";
      border: none;
      padding: .5rem;
      border-radius: 5px;
    }
    textarea {
      width: 97%;
      height: 100px;
      font-family: "Source Sans Pro";
      border: none;
      padding: .5rem;
      border-radius: 5px;
    }
    .btn {
      width: 100%;
      padding: 1rem;
      margin: .5rem 0;
      height: 48px;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}

.admin-header {
  text-align: center;

  h1 {
    font-family: "Source Sans Pro";
    font-size: 2rem;
    margin: 2rem 0;
  }
}
